<div class="container mb-3">
    <div class="row">
        <div class="col-sm">
            <div class="card border border-dark mb-3" style="max-width: 18rem">
                <div class="card-body text-dark">
                        <h6 class="card-title">{{ count_person }} Person {% if count_person > 1 %}s{% endif %}</h6>
                    <p class="card-text">
                        {% if count_person > 1 %}are{%else%} is{% endif %} tracked
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'config' %}">more info</a> 
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border border-dark mb-3" style="max-width: 18rem">
                <div class="card-body text-dark">
                        <h6 class="card-title">(x) Model{% if count_models > 1 %}s{% endif %}</h6>
                    <p class="card-text">
                        {% if count_models > 1 %}are {% else %} is {% endif %} registered
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'config' %}">more info</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border border-dark mb-3" style="max-width: 18rem">
                <div class="card-body text-dark">
                        <h6 class="card-title">(x) Node{% if count_dask_runners > 1 %}s{% endif %}</h6>
                    <p class="card-text">
                        are  connected
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'config' %}">more info</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
        <div class="card border border-dark mb-3" style="max-width: 18rem">
            <div class="card-body text-dark">
              <h6 class="card-title">{{ count_dataset }} Dataset{% if count_dataset > 1 %}s{% endif %}</h6>
              <p class="card-text">
                {% if count_dataset == 1 %}was {% else %} were {% endif %} created
              </p>
            </div>
                <div class="card-footer">
                    <a href="{% url 'dataset' %}">more info</a>
                </div>
          </div>
        </div>
    </div>