{%load plotly_dash%}

<div class="card w-90 mb-2">
    <div class="card-body">
        <h5 class="card-title">Experiment: {{ dataset.name | title}} </h5>
            <p class="card-text">
                An experiment is currently conducted. Pausing the experiment adds a device
                to the data marking the beginning and end of the duration not ment to be include in 
                the data analysis (not implemented yet). Head over to the experiments 
                <a href="{% url 'dataset' %}{{ dataset.id }}">dashboard</a>
                for further analysis.  
            </p>
    </div>

    {%plotly_app name="experiment" initial_arguments=dash_context ratio=0.7%}
    <div class="card-footer">
            <div class="hstack gap-2 float-end" role="group" aria-label="Basic example">
                {% if experiment_status == 'running' %}
                    <form class="form" action="{% url 'dashboard' %}" method="POST">
                            {% csrf_token %}
                        <input type="hidden" name="intent" value="pause experiment">
                        <button type="submit" class="btn btn-outline-primary">Pause experiment</button>
                    </form>
                {% else %}
                    <form class="form mr-1" action="{% url 'dashboard' %}" method="POST">
                            {% csrf_token %}
                        <input type="hidden" name="intent" value="continue experiment">
                        <button type="submit" class="btn btn-outline-primary">Continue experiment</button>
                    </form>
                {% endif %}
                <form class="form" action="{% url 'dashboard' %}" method="POST">
                        {% csrf_token %}
                    <input type="hidden" name="intent" value="finish experiment">
                    <button type="submit" class="btn btn-outline-danger">Finish experiment</button>
                </form>
            </div> 
    </div>
</div>

