<div class="card w-90 mb-2">
    <div class="card-body">
        <h5 class="card-title">Experiment</h5>
            <p class="card-text">Start an experiment. Notice that the configuration is frozen to ensure
                consistency. It is not possible to change device or person assignments running experiment
                during the run. Furthermore the option to run predictions is not avaliable.
                Information about the current experiment can be looked up under 
                <a href="../dataset">datasets</a>.
                
            </p>
            <form class="form row" action="{% url 'dashboard' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="intent" value="start experiment">
                <div class="col">
                    <input class="form-control form-control-sm" name="name", type="text" placeholder="Experiment name. e.g Tuebingen 2019">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Start experiment</a>
                </div>
            </form>
    </div>
</div>