<div class="row col-12">
    <div class="card ">
        <div class="card-header">
            Real-time Activity Inference Node
        </div>
        <div class="card-body">
            {% if rt_node_running %}
                <form class="form-inline" action="{% url 'dashboard' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="intent" value="stop">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                value="Model to run predictions:">
                    </div>
                    <fieldset disabled>
                        <select id="disabledSelect" class="form-control">
                            <option> {{ rt_node.model.algorithm.name }} with
                                person {{ rt_node.model.person.name }}</option>
                        </select>
                    </fieldset>
                    <button type="submit" class="btn btn-outline-warning ml-2"> stop</button>
                </form>
            {% else %}
            <form class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">asdfasdfPreference</label>
                    <select class="form-control mr-sm-2" id="inlineFormCustomSelect"
                            name="model_select">
                        {% for model in model_list %}
                                {% if foorloop.first %}
                                    <option selected value="{{ model.pk }}">
                                        {% else %}
                                    <option value="{{ model.pk }}">
                                {% endif %}
                            {{ model.algorithm.name }} with
                            person {{ model.person.name }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                  <div class="form-check form-switch">
                    <label class="form-check-label" for="form11Example4"
                      >Checked switch checkbox input</label
                    >
                    <input class="form-check-input" type="checkbox" id="form11Example4" checked />
                  </div>
                </div>
              </form>
            {% endif %}
        </div>
    </div>
</div>
</div>