<div class="container mb-3 ">
    <div class="card pb-5">
        <div class="card-body" style="height: 500px;">
                <div id='external-events'>
                    <h4>Draggable Activities</h4>
                    <div id='external-events-list'>
                        {% for activity in activity_list %}
                            <div class='fc-event'>{{ activity.name }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div id='calendar'></div>
                <div style='clear:both'></div>
        </div>
    </div>
</div>