{% if ps.plot_hist_cum_duration or ps.plot_hist_counts or ps.plot_boxplot_duration or ps.plot_ridge_line or ps.plot_heatmap_transitions %}

<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-ride="carousel" data-interval="0">
  <div class="carousel-inner">
    {% if ps.plot_hist_cum_duration %}
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ ps.plot_hist_cum_duration.url }}" alt="First slide">
    </div>
    {% endif %}
    {% if ps.plot_hist_counts %}
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ ps.plot_hist_counts.url }}" alt="Second slide">
    </div>
    {% endif %}
    {% if ps.plot_boxplot_duration %}
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ ps.plot_boxplot_duration.url }}" alt="Third slide">
      </div>
    {% endif %}
    {% if ps.plot_ridge_line %}
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ ps.plot_ridge_line.url }}" alt="Third slide">
      </div>
    {% endif %}
    {% if ps.plot_heatmap_transitions %}
      <div class="carousel-item">
        <img class="d-block w-50" src="{{ ps.plot_heatmap_transitions.url }}" alt="Third slide">
      </div>
    {% endif %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% else %}
  <p>A experiment is running. Here would be visualizations for the respective person, but you have to collect statistics first. 
    Do this by clicking on the button below and on the new site click on the "collect statistics" button.
  </p>
{% endif %}