{% load qr_code %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Smartphone
        </div>
        <div class="card-body">
            <h5 class="card-title">Connect to Logger</h5>
            <p class="card-text">Give more power to certain algorithms by creating labeled training or test
                data, covering activitys of daily living (ADL).</p>
            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list"
                            data-toggle="list" href="#list-home" role="tab" aria-controls="home">Get the app</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list"
                            data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">register
                            smartphone</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                                aria-labelledby="list-home-list">
                            <div class="col-5">
                                <a href='https://play.google.com/store/apps/details?id=com.whatsapp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                                        class="img-fluid" alt='Get it on Google Play'
                                        src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                aria-labelledby="list-profile-list">
                            {% qr_from_text qr_code_data size=8 version=8 error_correction=L %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>