{% if ps.plot_hist_counts %}
    <figure class="figure">
        <img class="figure-img img-fluid" src="{{ ps.plot_hist_counts.url }}"/>
        <figcaption class="figure-caption">There are a total of ## number of devices</figcaption>
    </figure>
{% endif %}
{% if ps.plot_hist_cum_duration %}
    <figure class="figure">
        <img class="figure-img img-fluid" src="{{ ps.plot_hist_cum_duration.url }}"/>
        <figcaption class="figure-caption">There are a total of ## number of devices</figcaption>
    </figure>
{% endif %}
{% if ps.plot_boxplot_duration %}
    <figure class="figure">
        <img class="figure-img img-fluid" src="{{ ps.plot_boxplot_duration.url }}"/>
        <figcaption class="figure-caption">There are a total of ## number of devices</figcaption>
    </figure>
{% endif %}
{% if ps.plot_ridge_line %}
    <figure class="figure">
        <img class="figure-img img-fluid" src="{{ ps.plot_ridge_line.url }}"/>
        <figcaption class="figure-caption">There are a total of ## number of devices</figcaption>
    </figure>
{% endif %}
{% if ps.plot_heatmap_transitions %}
    <figure class="figure">
        <img class="figure-img img-fluid" src="{{ ps.plot_heatmap_transitions.url }}"/>
        <figcaption class="figure-caption">There are a total of ## number of devices</figcaption>
    </figure>
{% endif %}