{% extends "base_bootstrap.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'js.cookie.js' %}"></script>
    <script src="{% static 'Sortable.js' %}"></script>
{% endblock %}


{% block content %}
    <!-- Unassigned devices -->
    <div class="container">
        <div class="col card mb-3">
            <div class="card-body">
                <h5 class="card-title"> Areas</h5>
                <p class="card-text">
                    Assign devices to areas they are located in. To import existing areas from Home Assistant and
                    automatically assign corresponding devices click on "Fetch from HA" button below. Create a 
                    new area by typing its name inside below and click on the "Add area" button. An area 
                    is deleted by ticking the cross of the respective box. Removing an area immediately unassigns the 
                    contained devices. To assign a device to an area, drag and drop the device from the Unassigned box 
                    into the respective areas box.
                </p>
                <hr>
                <div class="hstack gap-3">
                    <div class='me-auto' >
                        <form class='hstack gap-3' action="{% url 'assignment_device' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="intent" value="add_area">
                            <input class="form-control" name="area_name" type="text" placeholder="Name of the area here..." aria-label="Add your item here...">
                            <button type="submit" 
                                    class="btn btn-secondary"
                                    {% if experiment_active %} disabled {% endif %}
                            > Add_area</button>
                        </form>
                    </div>
                    <form action="{% url 'assignment_device' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="intent" value="fetch_from_ha">
                        <button type="submit" 
                        {% if experiment_active %} disabled {% endif %}
                        class="btn btn-primary">Fetch from HA</button>
                    </form>
                  </div> 
            </div>
        </div>

        {% if experiment_active %}
        <div class="alert alert-warning mt-3" role="alert">
          An experiment is running. To ensure consistency part of the configuration is disabled.
        </div>
        {% endif %}

        <div class="col">
            <div class="card bg-secondary mb-3 text-white">
                <div class="card-header">
                    <h5 class="card-title"> Unassigned </h5>
                    <div class="card-subtitle"> For each unassigned device a kitten dies :/</div>
                </div>
                <!-- Simple List -->
                <ul id="unassigned" class="list-group" style="min-height: 2.5em">
                    {% for device in device_list %} 
                        {% if not device.area %}
                            <li class="list-group-item">
                                {% if sensor  in device.name %}
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M3,14L3.5,14.07L8.07,9.5C7.89,8.85 8.06,8.11 8.59,7.59C9.37,6.8 10.63,6.8 11.41,7.59C11.94,8.11 12.11,8.85 11.93,9.5L14.5,12.07L15,12C15.18,12 15.35,12 15.5,12.07L19.07,8.5C19,8.35 19,8.18 19,8A2,2 0 0,1 21,6A2,2 0 0,1 23,8A2,2 0 0,1 21,10C20.82,10 20.65,10 20.5,9.93L16.93,13.5C17,13.65 17,13.82 17,14A2,2 0 0,1 15,16A2,2 0 0,1 13,14L13.07,13.5L10.5,10.93C10.18,11 9.82,11 9.5,10.93L4.93,15.5L5,16A2,2 0 0,1 3,18A2,2 0 0,1 1,16A2,2 0 0,1 3,14Z" />
                                </svg>
                                {% elif input_select in device.name %}
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M17,7H7A5,5 0 0,0 2,12A5,5 0 0,0 7,17H17A5,5 0 0,0 22,12A5,5 0 0,0 17,7M7,15A3,3 0 0,1 4,12A3,3 0 0,1 7,9A3,3 0 0,1 10,12A3,3 0 0,1 7,15Z" />
                                </svg>
                                {% else %}
                                <svg id="svg_{{ device_name }}" style="width:24px;height:24px" viewBox="0 0 24 24"
                                    fill="currentColor">
                                    <path d="M4.93,4.93C3.12,6.74 2,9.24 2,12C2,14.76 3.12,17.26 4.93,19.07L6.34,17.66C4.89,16.22 4,14.22 4,12C4,9.79 4.89,7.78 6.34,6.34L4.93,4.93M19.07,4.93L17.66,6.34C19.11,7.78 20,9.79 20,12C20,14.22 19.11,16.22 17.66,17.66L19.07,19.07C20.88,17.26 22,14.76 22,12C22,9.24 20.88,6.74 19.07,4.93M7.76,7.76C6.67,8.85 6,10.35 6,12C6,13.65 6.67,15.15 7.76,16.24L9.17,14.83C8.45,14.11 8,13.11 8,12C8,10.89 8.45,9.89 9.17,9.17L7.76,7.76M16.24,7.76L14.83,9.17C15.55,9.89 16,10.89 16,12C16,13.11 15.55,14.11 14.83,14.83L16.24,16.24C17.33,15.15 18,13.65 18,12C18,10.35 17.33,8.85 16.24,7.76M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10Z"/>
                                </svg>
                                {% endif %}

                                {{ device.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">
                {% for area in area_list %}
                    <!-- col-4 ensures that there are only 4 items all the time in one row -->
                    <div class="col-md-4">
                        <div class="card mb-3" style="min-width: 14rem;">
                            <div class="card-header d-flex justify-content-between">
                                <h5 > {{ area.name }}</h5>
                                <form action="{% url 'assignment_device' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="area_name" value="{{ area.name }}">
                                    <input type="hidden" name="intent" value="delete_area">
                                    <button type="submit" class="btn-close" aria-label="Close"></button>
                                </form>
                            </div>
                            <div class="card-body">
                                <!-- Simple List -->
                                <ul id="{{ area.name }}" class="list-group list-group-flush" style="min-height: 1em">
                                    {% for device in device_list %}
                                        <!-- check if device is bound to area -->
                                        {% if device.area %}
                                            {% if device.area.name == area.name %}
                                                <li class="list-group-item">
                                                    {% if sensor  in device.name %}
                                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                        <path fill="currentColor" d="M3,14L3.5,14.07L8.07,9.5C7.89,8.85 8.06,8.11 8.59,7.59C9.37,6.8 10.63,6.8 11.41,7.59C11.94,8.11 12.11,8.85 11.93,9.5L14.5,12.07L15,12C15.18,12 15.35,12 15.5,12.07L19.07,8.5C19,8.35 19,8.18 19,8A2,2 0 0,1 21,6A2,2 0 0,1 23,8A2,2 0 0,1 21,10C20.82,10 20.65,10 20.5,9.93L16.93,13.5C17,13.65 17,13.82 17,14A2,2 0 0,1 15,16A2,2 0 0,1 13,14L13.07,13.5L10.5,10.93C10.18,11 9.82,11 9.5,10.93L4.93,15.5L5,16A2,2 0 0,1 3,18A2,2 0 0,1 1,16A2,2 0 0,1 3,14Z" />
                                                    </svg>
                                                    {% elif binary in device.name %}
                                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                        <path fill="currentColor" d="M17,7H7A5,5 0 0,0 2,12A5,5 0 0,0 7,17H17A5,5 0 0,0 22,12A5,5 0 0,0 17,7M7,15A3,3 0 0,1 4,12A3,3 0 0,1 7,9A3,3 0 0,1 10,12A3,3 0 0,1 7,15Z" />
                                                    </svg>
                                                    {% else %}
                                                    <svg id="svg_{{ device_name }}" style="width:24px;height:24px" viewBox="0 0 24 24"
                                                        fill="currentColor">
                                                        <path d="M4.93,4.93C3.12,6.74 2,9.24 2,12C2,14.76 3.12,17.26 4.93,19.07L6.34,17.66C4.89,16.22 4,14.22 4,12C4,9.79 4.89,7.78 6.34,6.34L4.93,4.93M19.07,4.93L17.66,6.34C19.11,7.78 20,9.79 20,12C20,14.22 19.11,16.22 17.66,17.66L19.07,19.07C20.88,17.26 22,14.76 22,12C22,9.24 20.88,6.74 19.07,4.93M7.76,7.76C6.67,8.85 6,10.35 6,12C6,13.65 6.67,15.15 7.76,16.24L9.17,14.83C8.45,14.11 8,13.11 8,12C8,10.89 8.45,9.89 9.17,9.17L7.76,7.76M16.24,7.76L14.83,9.17C15.55,9.89 16,10.89 16,12C16,13.11 15.55,14.11 14.83,14.83L16.24,16.24C17.33,15.15 18,13.65 18,12C18,10.35 17.33,8.85 16.24,7.76M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10Z"/>
                                                    </svg>
                                                    {% endif %}
                                                    {{ device.name }}
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>


    <script>
        Sortable.create(unassigned,
            {
                group: "sorting",
                scroll: true,
                onAdd: unassign_device,
                disabled:{% if experiment_active %} true {% else %} false {% endif %},
            });

        {% for area in area_list %}
            Sortable.create({{ area.name }},
                {
                    group: "sorting",
                    sort: true,
                    onAdd: assign_device,
                    emptyInsertThreshold: 20,
                    disabled:{% if experiment_active %} true {% else %} false {% endif %},
                },);
        {% endfor %}

        function assign_device(evt) {
            var device_name = evt.item.innerText;
            var params = {
                area_name: evt.to.id,
                device_name: device_name,
                intent: 'assign_device',
            };
            post("{% url 'assignment_device' %}", params);
            //var svg = document.getElementById("svg_" + device_name);
            //alert("assign");
            //alert(svg.getAttribute("fill"));
            //svg.setAttribute("fill", "#000000");
            //alert(svg.getAttribute("fill"));
            reload_page();
        }

        function unassign_device(evt /**Event*/) {
            var device_name = evt.item.innerText;
            var params = {
                intent: 'unassign_device',
                device_name: device_name,
            };
            post("{% url 'assignment_device' %}", params);
            //var svg = document.getElementById("svg_" + device_name);
            //alert("unassign");
            //alert(svg.getAttribute("fill"));
            //svg.setAttribute("fill", "#FFFFFF");
            //alert(svg.getAttribute("fill"));
            reload_page();
        }

        function reload_page() {
            setTimeout(reload_page_helper, 200);
        }

        function reload_page_helper() {
            window.location=window.location;
            //location.reload();
        }

        function post(path, params) {
            var data = new FormData();
            data.append('csrfmiddlewaretoken', Cookies.get('csrftoken'));
            for (var key in params) {
                data.append(key, params[key]);
            }
            var xhr = new XMLHttpRequest();
            xhr.open('POST', path, true);
            xhr.onload = function () {
                // do something to response
                console.log(this.responseText);
            };
            xhr.send(data);
        }
    </script>

{% endblock %}
