{% extends "base_bootstrap.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'js.cookie.js' %}"></script>
    <script src="{% static 'Sortable.js' %}"></script>
{% endblock %}


{% block content %}

    <!-- unassigned sensors -->
    <div class="container">
        <div class="col card mb-3">
            <div class="card-body">
                <h5 class="card-title"> Areas </h5>
                <p class="card-text">
                    Assign activities to areas where they usually are performed.
                    If unsure, assign the activity to all areas. To add or delete areas
                    head over to assing device to area. 
                </p>
            </div>
        </div>

        {% if experiment_active %}
        <div class="alert alert-warning mt-3" role="alert">
          An experiment is running. To ensure consistency part of the configuration is disabled.
        </div>
        {% endif %}

        <div class="col">
            <div class="card bg-secondary mb-3 text-white">
                <div class="card-header">
                    <h5 class="card-title"> Pool </h5>
                    <div class="card-subtitle"> For each unassigned activity a kitten dies :/</div>
                </div>
                <!-- Simple List -->
                <ul id="unassigned" class="list-group" style="min-height: 2.5em">
                    {% for activity in activity_list %}
                        <li class="list-group-item">
                            {{ activity.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">
                {% for area in area_list %}
                    <!-- col-4 ensures that there are only 4 items all the time in one row -->
                    <div class="col-md-4">
                        <div class="card mb-3" style="max-width: 14rem;">
                            <div class="card-header d-flex justify-content-between">
                                <h5 > {{ area.name }}</h5>
                            </div>
                            <div class="card-body">
                                <!-- Simple List -->
                                <ul id="{{ area.name }}" class="list-group list-group-flush" style="min-height: 1em">
                                    {% for activity in area.activities.all %}
                                        <li class="list-group-item">
                                            {{ activity.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>


    <script>
        Sortable.create(unassigned, {
            group: {
                name: 'shared',
                pull: 'clone',
            },
            scroll: true,
            animation: 150,
            onAdd: unassign_device,
            disabled:{% if experiment_active %} true {% else %} false {% endif %},
        });

        {% for area in area_list %}
            Sortable.create({{ area.name }}, {
                group: {
                    name: 'shared',
                    pull: 'clone',
                },
                sort: true,
                onAdd: assign_device,
                disabled:{% if experiment_active %} true {% else %} false {% endif %},
            },);
            //                {
            //                    group: 'sorting',
            //                    sort: true,
            //                    pull: 'clone',
            //                    onAdd: assign_device
            //                },);
        {% endfor %}

        function assign_device(evt) {
            var activity_name = evt.item.innerText;
            var params = {
                area_name: evt.to.id,
                activity_name: activity_name,
                intent: 'assign_activity',
            };
            post("{% url 'assign_activities' %}", params);
            //var svg = document.getElementById("svg_" + device_name);
            //alert("assign");
            //alert(svg.getAttribute("fill"));
            //svg.setAttribute("fill", "#000000");
            //alert(svg.getAttribute("fill"));
            reload_page();
        }

        function unassign_device(evt /**Event*/) {
            var activity_name = evt.item.innerText;
            var params = {
                intent: 'unassign_activity',
                area_name: evt.from.id,
                activity_name: activity_name,
            };
            post("{% url 'assign_activities' %}", params);
            //var svg = document.getElementById("svg_" + device_name);
            //alert("unassign");
            //alert(svg.getAttribute("fill"));
            //svg.setAttribute("fill", "#FFFFFF");
            //alert(svg.getAttribute("fill"));
            reload_page();
        }

        function reload_page() {
            setTimeout(reload_page_helper, 200);
        }

        function reload_page_helper() {
            location.reload();
        }

        function post(path, params) {
            var data = new FormData();
            data.append('csrfmiddlewaretoken', Cookies.get('csrftoken'));
            for (var key in params) {
                data.append(key, params[key]);
            }
            var xhr = new XMLHttpRequest();
            xhr.open('POST', path, true);
            xhr.onload = function () {
                // do something to response
                console.log(this.responseText);
            };
            xhr.send(data);
        }
    </script>

{% endblock %}
