<div class="container-sm">
  <div class="col-md-6">
    <div class="row">
      <form action="{% url url %}" method="POST" class="mb-0">
        {% csrf_token %} {{ form }}
        <input type="hidden" name="from" value="conf_activities" />
        <div class="form-group">
          <label for="act_sel">Tracked by Activity Assistant</label>
          <select
            multiple="multiple"
            class="form-control"
            size="9"
            name="act_select"
            id="act_sel">
            {% for activity in activity_list %}
            <option>{{ activity.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button
          type="submit"
          name="intent"
          value="delete"
          class="btn btn-danger mt-1 float-right"
          {% if experiment_active %}
            disabled
          {% endif %}>
          delete
        </button>
      </form>
    </div>
    <form class="form-inline" action="{%url url %}" method="post">
      {% csrf_token %} {{ form }}
      <input type="hidden" name="from" value="conf_activities" />
     <div class="input-group mt-2">
        <input
          type="text"
          class="form-control"
          name="name"
          required
          placeholder="Activity name"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-primary"
          name="intent"
          type="submit"
          value="add"
          id="button-addon2"
          data-mdb-ripple-color="dark"
          {% if experiment_active %}
            disabled
          {% endif %}>
          Add
        </button>
      </div>
    </form>
  </div>
</div>
