<div class="container-sm">
  <form action="{% url url %}" method="POST" class="mb-0">
    {% csrf_token %} {{ form }}
    <input type="hidden" name="from" value="conf_persons">

    <div class="row">
      <div class="col-6">
        <label for="hass_dev_select">Home Assistant persons</label>
        <select
            multiple="multiple"
            class="form-control"
            size="9"
            name="hass_select"
            id="hass_dev_select">
            {% for hass_user in hass_user_list %}
              <option>{{ hass_user}} </option>
            {% empty %}
              <option value="">&nbsp;</option>
            {% endfor %}
        </select>
        <button
          type="submit"
          name="intent"
          value="track"
          class="btn btn-primary mt-1 float-right"
          {% if experiment_active %}
            disabled
          {% endif %}>
          Track
        </button>
      </div>

      <div class="col-6">
        <label for="act_assist_dev_select">Selected for tracking</label>
        <select
          multiple="multiple"
          class="form-control"
          size="9"
          name="act_assist_select"
          id="act_assist_dev_select">
            {% for aa_user in aa_user_list %}
              <option>{{ aa_user.name }} ({{ aa_user.hass_name}}) </option>
            {% empty %}
              <option value="">&nbsp;</option>
            {% endfor %}
        </select>
        <button
          type="submit"
          name="intent"
          value="remove"
          class="btn btn-danger mt-1 float-right"
          {% if experiment_active %}
            disabled
          {% endif %}>
          Remove
        </button>
      </div>
    </div>
  </form>
  <div class="row  mt-2">
    <div class="col-6">
    <form class="form-inline" action="{%url url %}" method="post">
      {% csrf_token %} {{ form }}
      <input type="hidden" name="from" value="conf_persons">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name="name"
          required
          placeholder="Persons name"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-primary"
          name="intent"
          type="submit"
          value="add"
          id="button-addon2"
          data-mdb-ripple-color="dark"
          {% if experiment_active %}
            disabled
          {% endif %}>
          Add
        </button>
      </div>
    </form>
  </div>
  <div class="col-6"></div>
  </div>
</div>              