<div class="container mt-3">
    <form action="{% url url %}" method="POST" class="mb-0">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="from" value="conf_persons">
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="hass_dev_select">Home assistant persons</label>
        <select multiple="multiple" class="form-control" name="hass_select" id="hass_dev_select">
            {% for hass_user in hass_user_list %}
                <option>{{ hass_user}} </option>
            {% endfor %}
        </select>
        </div>
        <div class="form-group col-md-6">
        <label for="act_assist_dev_select">Tracked by Activity assistant</label>
        <select multiple="multiple" class="form-control" name="act_assist_select" id="act_assist_dev_select">
            {% for aa_user in aa_user_list %}
                <option>{{ aa_user.name }} ({{ aa_user.hass_name}}) </option>
            {% endfor %}
        </select> 
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <button type="submit" name="intent" value="track" class="btn btn-primary"
            {% if experiment_active %} disabled {% endif %}>
            Track
        </button>
        </div>
        <div class="form-group col-md-4">
        <button type="submit" name="intent" value="remove" class="btn btn-primary"
            {% if experiment_active %} disabled {% endif %}>
            Remove
        </button>
        </div>
    </div>
    </form>

    <div class="d-flex flex-row p-2 justify-content-between align-items-center">
        <div class="p-2">
            <form class="form-inline" action="{%url url %}" method="post"> 
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="from" value="conf_persons">
            <div class="form-group mb-2">
                <label for="inputPassword2" class="sr-only">Password</label>
                <input class="form-control" name="name" type="text" required placeholder="Persons name">
            </div>
            <button type="submit" name="intent" value="add" class="btn btn-primary mb-2"
                {% if experiment_active %} disabled {% endif %}>
                add
            </button>
            </form>
        </div>
    </div>
</div>              