<div class="container-sm">
  <form action="{% url url %}" method="POST" class="mb-0">
    {% csrf_token %} {{ form }}
    <input type="hidden" name="from" value="conf_devices" />

    <div class="row">
      <div class="col-6">
        <label for="hass_dev_select">Home Assistant devices</label>
        <select
            multiple="multiple"
            class="form-control"
            size="9"
            name="hass_select"
            id="hass_dev_select">
            {% for hass_device in hass_dev_list %}
              <option>{{ hass_device }}</option>
            {% empty %}
              <option value="">&nbsp;</option>
            {% endfor %}
        </select>
        <button
          type="submit"
          name="intent"
          value="track"
          class="btn btn-primary mt-1 float-right"
          {% if experiment_active %}
            disabled
          {% endif %}>
          Track
        </button>
      </div>

      <div class="col-6">
        <label for="act_assist_dev_select">Selected for tracking</label>
        <select
          multiple="multiple"
          class="form-control"
          size="9"
          name="act_assist_select"
          id="act_assist_dev_select">
          {% for aa_dev in aa_dev_list %}
            <option>{{ aa_dev }}</option>
            {% empty %}
              <option value="">&nbsp;</option>
          {% endfor %}
        </select>
        <button
          type="submit"
          name="intent"
          value="remove"
          class="btn btn-danger mt-1 float-right"
          {% if experiment_active %}
            disabled
          {% endif %}>
          Remove
        </button>
      </div>
    </div>
  </form>
</div>
