<div class="container-sm">
  <div class="col-sm-6">
    <form action="{% url url %}" method="POST" class="mb-0">
      {% csrf_token %} {{ form }}
      <input type="hidden" name="from" value="conf_server" />
      Server address
        <input
          type="text"
          class="form-control mb-2"
          id="inputEmail3"
          name="address"
          placeholder="{{ server.server_address }}"/>
      Poll interval
      <select class="form-control" id="asdf" name="poll_interval">
        {% for opt in poll_int_list%} {% if opt == server.poll_interval %}
        <option selected>{{ opt }}</option>
        {% else %}
        <option>{{ opt }}</option>
        {% endif %} {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary mt-1 float-right">
        Submit
      </button>
    </form>
  </div>
</div>
