{% extends "base_bootstrap.html" %}
{% load static %}

{% block head %}
  <script src="{% static 'js.cookie.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container">

  <!-- progress bar -->
  {% if server_address and hass_address %}
  <div class="row mb-4">
    <div class="col-12">
      <div class="card bg-success text-white">
        <div class="card-body">
          The server has been successfully set up
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row mb-4">
    <div class="col-12">
      setup progress
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
          {% if not server_address and not hass_address %}
            style="width: 0%" 
          {% endif %}
          {% if server_address and not hass_address%}
            style="width: 50%" 
          {% endif %}
          {% if not server_address and hass_address%}
            style="width: 50%" 
          {% endif %}
          aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if server_address %}
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HB Instance</h5>
          <p class="card-text">Server address successfully registered</p>
          <a href="{{ server_address }}">{{ server_address }}</a>
        </div>
        <div class="card-footer">
          <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'basic_config' %}" method="POST">
	            {% csrf_token %}
	            <input type="hidden" name="intent" value="reset_srv_addr">
              <button type="submit" class="btn btn-danger">reset</button>
	          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row mb-4">
    <div class="col-12">
     <form action="{%url 'basic_config'%}" method="post" name="create_activity"> 
        <div class="form-group">
          <label for="input_server">Server address</label>
    	    <input type="hidden" name="intent" value="set_srv_addr">
    	      {% csrf_token %}
    	      {{ form }}
          <input type="text" class="form-control" name="server_address" id="input_server" aria-describedby="server_help" placeholder="Enter server address">
          <small id="server_help" class="form-text text-muted">this is needed for the smartphone and homeassistant connection</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  {% endif %}

    {% if hass_address and not access_token_available or not hass_address and access_token_available %}
      <div class="row mb-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Homeassistant</h5>
                {% if hass_address %}
              <a href="{{ hass_address }}">{{ hass_address }}</a>
                {% endif %}
            </div>
            <div class="card-footer">
                {% if hass_address %}
              <div class="btn-group" role="group" aria-label="Basic example">
                <form action="{% url 'basic_config' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="intent" value="reset_hass_addr">
                  <button type="submit" class="btn btn-danger">reset addr</button>
                  </form>
                  {% endif %}
            {% if access_token_available %}
                <form action="{% url 'basic_config' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="intent" value="reset_hass_token">
                <button type="submit" class="btn btn-secondary">reset token</button>
                  </form>
            {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

    {% if not hass_address or not access_token_available %}
    <div class="col-12">
    {% if not hass_address %}
      <form action="{%url 'basic_config'%}" method="post"> 
        <div class="form-group">
          <label for="input_hass">Homeassistant</label>
    	    <input type="hidden" name="intent" value="set_hass_addr">
    	      {% csrf_token %}
    	      {{ form }}
          <div class="form-group">
            <input type="text" class="form-control" name="hass_address" id="input_hass" aria-describedby="hass_help" placeholder="Enter homeassistant address">
            <small id="hass_help" class="form-text text-muted">connect to homeassistant instance</small>
          </div>

        </div>
        <button type="submit" class="btn btn-primary"
          {% if not server_address %} disabled {% endif %}>
          Submit
        </button>
      </form>
        {% endif %}


        {% if not access_token_available %}
          <form action="{%url 'basic_config'%}" method="post">
        <div class="form-group">
    	    <input type="hidden" name="intent" value="set_access_token">
    	      {% csrf_token %}
    	      {{ form }}
       <div class="form-group">
            <input type="text" class="form-control" name="hass_api_token" id="input_hass" aria-describedby="hass_help_token" placeholder="hass api access token">
            <small id="hass_help_token" class="form-text text-muted">paste the long lived access token here</small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary"
          {% if not server_address %} disabled {% endif %}>
          Submit
        </button>
      </form>
            {% endif %}
    </div>
  </div>
{% endif %}
        {% if hass_address and access_token_available %}
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Homeassistant</h5>
          <p class="card-text">Server is connected to homeassistant</p>
          <a href="{{ hass_address }}">{{ hass_address }}</a>
        </div>
        <div class="card-footer">
          <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'basic_config' %}" method="POST">
	            {% csrf_token %}
	            <input type="hidden" name="intent" value="reset_hass_addr">
              <button type="submit" class="btn btn-danger">reset addr</button>
	          </form>
            <form action="{% url 'basic_config' %}" method="POST">
	            {% csrf_token %}
	            <input type="hidden" name="intent" value="reset_hass_token">
            <button type="submit" class="btn btn-secondary">reset token</button>
	          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}
