{% extends "base_bootstrap.html" %}
{% load static %}

{% block head %}
  <script src="{% static 'js.cookie.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container">
<!-- DEBUG START
    <form class="form-inline" action="{%url url %}" method="post"> 
    {% csrf_token %}
      <button type="submit" name="intent" value="debug" class="btn btn-danger mb-2">
        debug
      </button>
      <input type="hidden" name="from" value="debug">
    </form>
<!-- DEBUG END-->

  <div class='row'>
    <h4>Server</h4>
    <div class="container">
      {% include "config/server.html" %}
    </div>
  </div>
  {% if experiment_active %}
    <div class="alert alert-warning mt-3" role="alert">
      An experiment is running. As such part of the configuration is temporarily disabled.
    </div>
  {% endif %}
  <hr>
  <div class='row'>
    <h4>Activities</h4>
    <div class="container">
      {% include "config/create_activities.html" %}
    </div>
  </div>
  <hr>
  <div class='row'>
    <h4>Devices</h4>
    {% include "config/sel_device.html" %}
  </div>
  <hr>
  <div class='row'>
    <h4>Persons</h4>
    {% include "config/sel_person.html" %}
  </div>
</div>
{% endblock %}
