{% extends "base_bootstrap.html" %}
{% load static %}

{% block head %}
  <script src="{% static 'js.cookie.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container d-flex align-items-center">
<!-- DEBUG START
    <form class="form-inline" action="{%url url %}" method="post"> 
    {% csrf_token %}
      <button type="submit" name="intent" value="debug" class="btn btn-danger mb-2">
        debug
      </button>
      <input type="hidden" name="from" value="debug">
    </form>
<!-- DEBUG END-->
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8 col-xxl-7">
  <div class='row'>
    <h4>Server</h4>
    <p>
      Activity-assistant exposes a <a href="../api/">REST API</a> for the android activity logger 
      to connect to. Therefore it is necessary the logger uses the devices correct ip from to 
      reach activity-assistant from within the local network. 
    </p>
    <div class="container">
      {% include "config/server.html" %}
    </div>
  </div>
  {% if server_local_url_provided %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <strong>Invalid server url.</strong> Android is not able to connect to a .local address.
          Use Home Assistants IP address instead.
          <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endif %}

  {% if server_invalid_address_provided %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <strong>Invalid server url.</strong> Check please use a correct <a href="https://en.wikipedia.org/wiki/URL">schema</a>.
          <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endif %}
  {% if experiment_active %}
    <div class="alert alert-warning mt-3" role="alert">
      An experiment is running. To ensure consistency part of the configuration is disabled.
    </div>
  {% endif %}
  <hr>


  <div class='row'>
    <h4>Activities</h4>
    <p>
      Create activities that capture your style of living. Examples are eating,
      sleeping, waking_up, leaving_home, entering_home, ....
    </p>
    <div class="container">
      {% include "config/create_activities.html" %}
    </div>
  </div>
  <hr>


  <div class='row'>
    <h4>Devices</h4>
    <p>
      Select one or multiple devices to track or not to track.
    </p>
    {% include "config/sel_device.html" %}
    </div>
  <hr>


  <div class='row mb-5'>
    <h4>Persons</h4>
    <p>Select one or multiple persons to track or not to track. </p>
    {% include "config/sel_person.html" %}
  </div>
</div>
</div>
{% endblock %}
