{% extends "base_bootstrap.html" %}
{% load static %}

{% block head %}
    {% if not setup_complete %}
        <link rel="stylesheet" href="{% static 'stepper.css' %}">
        <script src="{% static 'stepper.js' %}"></script>
    {% else %}
        <script src="{% static 'Chart.bundle.min.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'dashboard/4_panels.html' %}


        {% if not experiment_status == 'not_running' %}
            {% include 'dashboard/exp_active.html' %}
        {% else %}
            {% include 'dashboard/exp_inactive.html' %}
        {% endif %}
        {% if exp_duplicate_names %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Experiment could net be created!</strong> Check for duplicate names
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if not experiment_active %}
            {% include 'dashboard/rt_node.html' %}
            {% if rt_node_running %}
                {% for person in person_list %}
                    {% if person.prediction %}
                        {% include 'person/activity_prediction.html' %}
                    {% endif %}
                {% endfor %}
                {% include 'person/device_preds.html'}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
