<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Activity Assistant</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icon.svg' %}"/>
    <!-- include bootstrap -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap-select.min.css'%}">
  </head>

  <body>
    <script src="{% static 'jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap-select.min.js' %}"></script>

    <div class="container mt-2">
      <!-- progress bar -->
      <div class="row mb-4">
        <div class="col-12">
          Setup progress
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-info"
              role="progressbar"
              style="width: {{ progress }}%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          {% if step == "initial" %}
            {% include 'onboarding/0_initial.html' %}

          {% elif step == "data_collection" %}
            {% include 'onboarding/1_data_collection.html' %}

          {% elif step == "conf_devices" %}
            {% include 'onboarding/2_conf_devices.html' %}

          {% elif step == "conf_activities" %}
            {% include 'onboarding/3_conf_activities.html' %}

          {% elif step == "conf_persons" %}
            {% include 'onboarding/4_conf_persons.html' %}

          {% elif step == "final" %}
            {% include 'onboarding/5_final.html' %}

          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
