<h4 class="card-title">Configure data collection</h4>

{% if hass_db_success %}
<p>
    Activity Assistant updates a local dataset with relevant entries
    from the Home Assistant database. Parsing the config, a database of type <i>{{ db_type }}</i> was detected.
</p>
    <hr>

    <p class="card-text">
        Set the polling interval for Activity Assistant to collect events. Two hours are recommended.
    </p>

    <form action="{% url 'setup' %}" method="POST" class="mb-0 mt-3">
        <div class="form-group mb-2">
            <label for="exampleFormControlSelect1">Select time interval</label>
            <select class="form-control" id="asdf" name="poll_interval">
            {% for opt in poll_int_list%}
            <option>{{ opt }}</option>
            {% endfor %}
            </select>
        </div>
        {% csrf_token %} {{ form }}

        <input type="hidden" name="from" value="data_collection" />
        <button type="submit" class="btn btn-outline-danger float-right">Submit</button>
    </form>
{% else %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alter-heading">Well this didn't go as planned :/</h4>
        <p>
            Activity-assistant was not able to connect to your database. Check if your database service is running. The recorder is required for activity-assistant
            to infer connection details. Is the integration installed? If not please install the integration and try again. 
            If the problem persists please open an <a href="https://github.com/tcsvn/activity-assistant/issues">issue</a>, 
            specify the database type, platform, the recorder db_url, output of the log and I will try to fix it 
            as fast possible.
        </p>
        <hr>
        <p class="mb-0">
            If you're brave you can set the url manually at the <a href="/api/server/1">REST API</a> by updating 
            the "Hass_db_url" field with your value. To move on to the setup's next step enter this string 'conf_devices' in the 
            "Setup" field.
        </p>
    </div>       
{% endif %}
