name: 'Publish armv7'
on:
  workflow_dispatch:

jobs:
  build:
    name: Publish to armv7 (check whats wrong:/)
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Publish
      uses: tcsvn/builder@master
      with:
        args: |
          --all \
          --no-cache \
          --target /data
